/* CSS Document */

body{
	/*background-color:#5CCCCC;*/
	background-color:#CADBDB;
}

.mysection{
	/*background-color:#34D0B6;*/
	padding:15px;/*
	margin:auto;
	display:inline-block;*/
	/*top:-50px;
	transform:translateY(-50%);*/
}

.message{
	text-align:center; 
	/*padding: 10px 0 10px 0;*/
}

.radio-group{
	border: 2px solid black; 
	border-radius:4px;
	padding: 0 10px 0 10px; 
	margin: 10px 0 10px 0;
}

.radio-group.red{
	border-color: #F00;
}

.radio-group.green{
	border-color: #090;
}

.radio-group h3{
	text-align:center;
}

.radio{
	display:inline-block;
	padding:0px 5px;
}

.dropdown {
	border: solid 2px black;
	border-radius:4px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.dropdown:hover{
	cursor:pointer;
}

.copyright{
	position:fixed;
	bottom: 0;
	width:100%;
}

.account-infos{
	text-align: center;
	color: black;
	width: 100%;
}


/*
.avatar i.mdi{
	font-size: 100px;
	text-align: center;
	line-height: 100px;
	width: 150px;
	height: 150px;
	border: 10px solid black;
	border-radius: 50%;
	display: inline-block;
}*/

.img-rounded {
	text-align: center;
	border: 10px solid black;
	border-radius: 50%;
}

.loader {
	position: relative;
    left: 43%;
    top: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.navigationbar{
	background-color:#fff;
	height:40px;
	width:100%;
	position:absolute;
	line-height:40px;
	z-index: 1;
}

.navigationbar .mdi{
	font-size:40px;
	color:black;
}

.icon:hover .mdi{
	color:#286090;
}

.icon.logout:hover .mdi{
	color:red;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar {
	margin-bottom: 0px;
}

.slides {
	z-index: -10;
	text-align: center;
}

.slides h1{
	font-size: 72px;
}

.slides p{
	font-size: 32px;
	padding-left: 80px;
	padding-right: 80px;
}

.slide01 {
	background-color: #33CCCC;
}

.slide02 {
	background-color: #5FBDCE;
}

.slide03 {
	background-color: #37B6CE;
}

.slide04 {
	background-color: #3AAACF;
}

input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border: solid 2px black;
}

.transparent-input:focus {
  border-color: #0F4DA8;
}

pre {
	font-size: 24px;
	background-color: #C8B7B7;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}